<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID de clientes</title>
</head>
<body>
    <h1><a href="http://127.0.0.1:5000/">Home</a></h1>



    
    
    <table border="15">
        <thead>
            <tr>
               <th>ID</th>
               <th>NOMBRE</th>
               <th>APELLIDO</th>
               <th>TELEFONO</th>
               <th>EMAIL</th>
               <th>CIUDAD</th>
            </tr>

        </thead>
        <tbody>
             {% if iden == 0 %}
                <tr>
                    
                    <td>{{ 0 }}</td>
                    <td>{{ 'Ethan' }}</td>
                    <td>{{ 'Soto' }}</td>
                    <td>{{ 8093327742 }}</td>
                    <td>{{ "ethanmanu3l@gmail.com" }}</td>
                    <td>{{ "Santo Domingo" }}</td>
                   

                </tr>
            
                

                {% elif iden == 1 %}


                    <tr>
                        <td>{{ 1 }}</td>
                        <td>{{  ' Mildred ' }}</td>
                        <td>{{ 'Santos' }}</td>
                        <td>{{ 8093329951 }}</td>
                        <td>{{ 'mildredsant0@gmail.com' }}</td>
                        <td>{{ 'PueroPlata' }}</td>
                    
                    </tr>
            

                {% elif iden == 2 %}

                    <tr>
                        <td>{{ 2 }}</td>
                        <td>{{ 'Carlos' }}</td>
                        <td>{{ 'Bejarán' }}</td>
                        <td>{{ 8295429962 }}</td>
                        <td>{{ 'carlosBB@gmail.com' }}</td>
                        <td>{{ 'LaVega' }}</td>
                    
                    </tr>
            
                

                {% elif iden == 3 %}

                    <tr>
                        <td>{{ 3 }}</td>
                        <td>{{ 'Juan' }}</td>
                        <td>{{ 'Martinez' }}</td>
                        <td>{{ 8099412280 }}</td>
                        <td>{{ 'juancito2210P@gmail.com' }}</td>
                        <td>{{ 'Santo Domingo' }}</td>
                
                    </tr>
                {% else %}
                
                <tr>
                    <td>{{ 4 }}</td>
                    <td>{{ 'Elizardo' }}</td>
                    <td>{{ 'Sosa' }}</td>
                    <td>{{ 8094518033 }}</td>
                    <td>{{ 'elisosa30S0S@gmail.com' }}</td>
                    <td>{{ 'Higuey' }}</td>
                    
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>