<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    
</head>
<body>
    <h1><a href="http://127.0.0.1:5000/">Inicio</a></h1> 
    <table border="15">
        <thead>
            <tr>
               <th>ID</th>
               <th>NOMBRE</th>
               <th>APELLIDO</th>
               <th>TELEFONO</th>
               <th>EMAIL</th>
               <th>CIUDAD</th>
            </tr>

        </thead>
        <tbody>
            {% for clientes in clientes %}
                <tr>
                   <td>{{ clientes [0] }}</td>
                   <td>{{ clientes [1] }}</td>
                   <td>{{ clientes [2] }}</td>
                   <td>{{ clientes [3] }}</td>
                   <td>{{ clientes [4] }}</td>
                   <td>{{ clientes [5] }}</td>
                </tr>
            {% endfor %} 
        
        </tbody>
        
    </table>
    <h1><a href="http://127.0.0.1:5000/register">Registrarse</a></h1>
    
   
</body>
</html>